
<!doctype html>
<html amp lang="fr">
		<head>
            <meta charset="utf-8">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
                <link rel="canonical" href="{{ page.canonical_url | prepend: site.baseurl | prepend: site.url }}" />
                <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
                <style amp-custom>
                    
                </style>
                <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
                <script async src="https://cdn.ampproject.org/v0.js"></script>
		</head>
		<body>
            <div class="top-panel-contact-info">
                <div class="info-block" >
                    <amp-img max-width="92" width="16" height="16" alt="{% t phoneicon %}" src="{{site.url}}{{site.baseurl}}/assets/images/icons/Phone_number-16px-16px.png" layout="responsive" /></amp-img> {% t callTheNumber %} {{site.telephone-number}}
                </div>
                <div class="info-block" >
                    <amp-img width="16" height="16" alt="{% t homeicon %}" src="{{site.url}}{{site.baseurl}}/assets/images/icons/Home-16px-16px.png" layout="responsive"></amp-img> {{site.adress}}
                </div>
                <div class="info-block" >
                    <amp-img width="16" height="16" alt="{% t arobasicon %}" src="{{site.url}}{{site.baseurl}}/assets/images/icons/Email-16px-16px.png" layout="responsive" ></amp-img> {% t sendmeAMail %} <a href="mailto:{{ site.email | encode_email }}" title="Contact me">{% t clickHere %}</a>
                </div>                
            </div>
            <div class="headband">
                <amp-img width="250" height="210" alt="{% t logo %}" src="{{ 'assets/images/logo/Cadre-Logo-Inger-250px-210px-72ppi.png' | absolute_url }}" layout="responsive"></amp-img><span class="header-title" >{% t ingerHairStylingAtHome %}</span>
            </div>
			<nav class="{{site.menuClass}}">
	    		<ul>
	        		<li><a href="/">{% t home %}</a></li>
		        	<li><a href="/pages/whoami.html">{% t whoIAm %}</a></li>
	        		<li><a href="/pages/yeartariffs.html">{% t tariffs2018 %}</a></li>
	        		<li><a href="/pages/coveredMunicipalities.html">{% t coveredMunicipalities %}</a></li>
	    		</ul>
			</nav>
			<div class="container">