




$default-font-color: #181a1f;

$default-font-family: Lato,Verdana,"Trebuchet MS",Arial,Georgia,sans-serif;
$header-title-font-family: 'Six Caps',sans-serif;
$main-menu-font-family: Montserrat,sans-serif;
$h1-h2-font-family: 'Work Sans',sans-serif;

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Six Caps";
  src: url("../assets/fonts/SixCaps.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-Regular.ttf");
}

.top-panel-contact-info {
    font-size: 15px;
    font-size: 0.9375rem;
}

.top-panel-contact-info .info-block {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 1.5em;
    display: inline-block;
}

.top-panel-contact-info {
    color: $top-panel-message-color;
}

body {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    font-family: $default-font-family;
    letter-spacing: 0px;
    text-align: left;
    color: $default-font-color;
}

.header-title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: $header-title-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    font-size: 3.75rem;
}

#{$navigationClass} li a.active::before {
    left: 0;
    width: 100%;
    height: 2px;    
}

#{$navigationClass} li a::before {
    bottom: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: '';
    position: absolute;
    cursor: default;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    background: $baseColor;
}

#{$navigationClass} li a {
    border-bottom: none;
}

#{$navigationClass} li a:hover {
    color: $baseColor;
}

#{$navigationClass} li a {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    font-family: $main-menu-font-family;
    letter-spacing: 1px;
    color: $default-font-color;
}

#{$navigationClass} li a {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
    h3.blink-text {
        letter-spacing: 1.5px;
        line-height: 28px;
        font-size: 24px;
    }       
}

h3.blink-text {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 38px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 23px;
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 40px;
    }
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.1;
    font-family: $h1-h2-font-family;
    letter-spacing: 0px;
    text-align: inherit;
    color: #181a1f;
}

@media screen and (min-width: 992px) {
    h2 {
        font-size: 40px;
    }
}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.38;
    font-family: $h1-h2-font-family;
    letter-spacing: 0px;
    text-align: inherit;
    color: $default-font-color;
}


.invert {
    color: #fff;
}

@media screen and (min-width: 992px) {
    h5 {
        font-size: 20px;
    }
}

h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.4;
    font-family: $default-font-family;
    letter-spacing: 1px;
    text-align: inherit;
    color: #181a1f;
}

